{:tasks
 {install  {:doc "Install Node modules."
            :task (shell "npm install")}
  dev      {:doc  "Run backend in dev mode."
            :task (shell "npx shadow-cljs watch app")}
  test     {:doc  "Run backend tests."
            :task (shell "echo 'running frontend tests'")}
  outdated {:doc  "Find outdated deps."
            :task (clojure "-Sdeps '{:deps {com.github.liquidz/antq {:mvn/version \"RELEASE\"}}}' -M -m antq.core")}}}
